$first-color: #d2001c;
$second-color: #4d4d4d;
$text-color: #000000;
$second-text-color: #222222;
$white-color: #ffffff;
$grey-color: #c4c4c4;
$bg-yellow-color: #fed600;
$font-openSans: "OpenSans", "Arial", sans-serif;
$font-sfProDisplay: "SFProDisplay", "Arial", sans-serif;
$font-sfProText: "SFProText", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1199px;
